<h1>Todos os itens</h1>
<table>
  <thead>
    <tr>      
      <th>Quantidade</th>
      <th>Valor</th>
      <th>Tamanho</th>
      <th>Descrição</th>
      <th>Ação</th>
    </tr>
  </thead>
    <tbody>
      {{#each itemsProduct}}
        <tr>          
          <td>{{this.productQuantity}}</td>
          <td>{{this.productValue}}</td>
          <td>{{this.productSize}}</td>
          <td>{{this.productDescription}}</td>
          <td>            
            <form action="/products/removeitem" method="post" class="form-table">
              <input type="hidden" name="productId" value="{{this.ProductId}}">
              <input type="hidden" name="itemId" value="{{this.id}}">              
              <a href="/products/edititemproduct/{{this.id}}"><i class="bi bi-pencil-square"></i></a>          
              <span>/</span>              
              <button type="submit">
                <a href="/"><i class="bi bi-trash"></i></a>
              </button>
              
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
</table>