<section>
  <form action="/poststocks" id="form-post-stocks" method="post">
    <label for="stocks" id="label-stocks">Ativo</label>
    <input type="text" id="stocks" name="stocks">
    <input type="submit" id="input-submit" value="Gravar" onclick="hideForm()">
  </form>

  <div id="dollar-value">
    <div>
      <img src="/images/favicon_io_usa/favicon-32x32.png" alt="" srcset="">
    </div>
    <div>
      <p>US$ 1,00 = R$ X,XX</p>
    </div>
    
  </div>
  
  <ul id="ul-stocks">
    {{#each stocks}}
      <li id="{{this.tag}}"> 
        <div class="external-div">
          <div class="header-div">
            <p class="stock-info">{{this.tag}}</p>
            <p class="stock-perc" id="{{this.tag}}-perc">{{this.perc}}</p>                      
          </div>
                    
          <div class="footer-div">
            <p class="stock-name">{{this.name}}</p>
            <p class="stock-info">{{this.price}}</p>
          </div>        
        </div>        
      </li>
    {{/each}}
  </ul>
</section>

<script src="/javascript/run-stocks.js"></script>
<script src="/javascript/new-stocks.js"></script>

